<nav class="navbar border-bottom navbar-expand-md navbar-light shadow bg-white mb-3 py-1 sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="../../public/images/logo.png" alt="" width="50" height="50"><span class="ml-2 h3">HNG<small class="text-primary small">recharge&trade;</small></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-lg-5">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-1">
      	<li class="nav-item dropdown">
          <a id="navbarDropdownMenuLink" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Interns</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/interns/addIntern">Add Interns</a>
            <a class="dropdown-item" href="/interns">Recharge Interns</a>
            <a class="dropdown-item" href="/others">Recharge Others</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
