<div class="jumbotron text-center">
  <h1 class="display-3 mb-4">{{title}}</h1>
  <p class="lead">Welcome to HNG recharge platform</p>
  <div class="container mt-5">
    <div class="row d-flex justify-content-around">
      <a href="/interns/addIntern" class="col-12 col-md-4 col-lg-3 btn btn-light border-md-none border-primary text-uppercase font-weight-bold h1 text-primary mb-3 py-3 w-50">Add Intern</a>
      <a href="/interns" class="col-12 col-md-4 col-lg-3 btn btn-light border-md-none border-primary text-uppercase font-weight-bold h1 text-success mb-3 py-3 w-50">Recharge Interns</a>
      <a href="/others" class="col-12 col-md-4 col-lg-3 btn btn-light border-md-none border-primary text-uppercase font-weight-bold h1 text-warning mb-3 py-3 w-50">Recharge Others</a>
    </div>
  </div>
</div>
